<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <div>
        <label>用户名</label>
        <input type="text" name="username" value="{{ username }}">
    </div>
    <div>
        <label>密码</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="is_remember">记住密码</label>
        <input type="checkbox" name="remember" id="is_remember">
    </div>
    <div>
        <input type="submit" value="登陆">
    </div>
</form>
</body>
</html>
