<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="post">
    <div>
        <label>用户名</label>
        <input type="text" name="username">
        <span>{{ username_error }}</span>
    </div>
    <div>
        <label>密码</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>重复密码</label>
        <input type="password" name="password2">
    </div>
    <div>
        <input type="submit" value="注册">
    </div>
</form>
</body>
</html>
