<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/shebao">
        <div>
            <input name="sss" type="text">
        </div>
        <div>
            <select>
                <option value="1"></option>
                <option value="0"></option>
            </select>
        </div>
        <input type="submit">
    </form>
    <table>
        <thead>
            <tr>
                <th>项目</th>
                <th>个人缴纳</th>
                <th>单位缴纳</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>养老保险</td>
                <td>xxx元</td>
                <td>xxx元</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
